<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dirBD8892FBCC64DA5924D7F747259B8B87" Name="bin" />
            <Directory Id="dir6D5EFFE51CD5B01FC475BBA3CDFE00B3" Name="obj" />
            <Directory Id="dir23A3189054C3F25860189BFFABAD824E" Name="Properties" />
            <Directory Id="dir4DC39E28E88A7F1F26918FEF6A2132A1" Name="Resources" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductFilesComponentGroup">
            <Component Id="cmp0854D96B27FD9B6E6BEA10C7C6C45456" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil487EB064F95F0E967863BE291FDA00D4" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\ArrayParameter.cs" />
            </Component>
            <Component Id="cmp9DFDC92AEE94724577B870B52FBE6DB8" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filAAD93B03B17D2D1DD30021B68D6A25F1" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\BooleanParameter.cs" />
            </Component>
            <Component Id="cmp7336803946D7BD471DDB6C8930E5B834" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil3EC23D3BD17DB0A08A0E00637DD34F1F" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\CapeObjectBase.cs" />
            </Component>
            <Component Id="cmp705A7FE436620E7EC5CEBA8407BD55AD" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filDA6E9888D80FB7B2FF6436E6C00C6EAD" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\CapeOpenClasses.cs" />
            </Component>
            <Component Id="cmpCDD0F8BA0E494F55630D9FBD9A5A06A9" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil5CCA98CABB9056699CB6496E959AFDB6" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\COGuids1.cs" />
            </Component>
            <Component Id="cmp2ABA406BA92C65E3712CA182FD8A923F" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil01EEA7668FB2790C0D205A1E7D7E5D75" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Dimensions.cs" />
            </Component>
            <Component Id="cmp6DE1A22EFD85BB4FBAF63D75B97078AE" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil5E012851106FD2D275B8CBEE8D74A2AA" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\epa_seal_medium.ico" />
            </Component>
            <Component Id="cmp9FAD5CA178B81D18632B4E51EC9FEC47" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil03E773463E90F9B62EFD555A9608B4B5" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Exceptions.cs" />
            </Component>
            <Component Id="cmp0609A8879B38E5B602FFC344E07F02E4" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil2980C55BF1EEA6283566F3F4C2896BA8" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\GreenScopeForm.cs" />
            </Component>
            <Component Id="cmp738550031AFF9A7EB8D5C2B035F4879B" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil5066D129EBF80AED97C5D6D49A7F7A0E" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\GreenScopeForm.Designer.cs" />
            </Component>
            <Component Id="cmpE0678AEBF08E295BB6E6370BCE425EA4" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil316F55B51616F9BBECAA702B7929F6D0" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\GreenScopeForm.resx" />
            </Component>
            <Component Id="cmp807E1BE7967619BAE1E8722392643177" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filDDC19D922D1FC19712F704D04FA8E4C4" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\GreenScopeTool.cs" />
            </Component>
            <Component Id="cmp3888C74071C38B3E3E258048AF1ABEF6" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filAF18B9C3387B3E77E5884461B7B41AE6" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\IntegerParameter.cs" />
            </Component>
            <Component Id="cmpB97207A099DD1D0194E35B8E89ACC95B" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil4D3763AC6746BA7CF4247C8E07F78F97" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\MonitoringInterfaces.cs" />
            </Component>
            <Component Id="cmp88CCE19220A12ED65775C7E7C0A89BE7" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil3B6EE3605FE5F1F8C3D196E41745C153" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\OptionParameter.cs" />
            </Component>
            <Component Id="cmp399C367EFC54AD6FD5413B966D535256" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil5B0316FED178478D431487BCCEDD03BF" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\ParameterCollection.cs" />
            </Component>
            <Component Id="cmpCEC958AB4BD94CCC5AF414907F48B629" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil9900560986BE66B8AC5CE16720E8FEAD" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\RealParameter.cs" />
            </Component>
            <Component Id="cmpAEA8E71D3D86792D6678CD2181D731BB" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filBE47A058CD350C4D3119D93E3D418950" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Resource1.Designer.cs" />
            </Component>
            <Component Id="cmp92304614617922F40410D1496E3238AB" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil8323FD79C7C958EB4A8F0A331D200F43" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Resource1.resx" />
            </Component>
            <Component Id="cmpB67711D7017BEC5C8B371D6F3DCA4D09" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil85DC7F167A9ECD3340D10503314BC878" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\USEPA Simulation PlugIns.csproj" />
            </Component>
            <Component Id="cmpEEE629558F60897B74B3717762BCE463" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil3DA852F61EB48A8D7581BC443136BF5A" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\USEPA Simulation PlugIns.csproj.user" />
            </Component>
            <Component Id="cmp017D56B3BD22FA882C3602C3F7F0D74F" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil4B4F9208F9C6E02742ECC6C1E20AAA52" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\War.cs" />
            </Component>
            <Component Id="cmp1BA78C572D98186B7934B3D6B10A1071" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil48C3AC217519409DA91290C7BD5B6948" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\WARalgorithm.cs" />
            </Component>
            <Component Id="cmpB916F8F1AB6B8136166D1B5954B4CE22" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil4FA968A2A3B1A157362702F4D6036198" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\WARalgorithm.Designer.cs" />
            </Component>
            <Component Id="cmpC4625C034214F6B8F0FE9BD208CAAEA7" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil4F24B2DF236900DAC640E6FD550DCCE5" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\WARalgorithm.resx" />
            </Component>
            <Component Id="cmpA5AAFC440F5C1A0DDEB8CCE5DD3A1881" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil48E1CA353F1E7F395717B4ED04A091FE" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\DocumentFormat.OpenXml.dll" />
            </Component>
            <Component Id="cmp40B27775E5D1B449291F10AF2A9A93A8" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="filF3D7AC46EB7E4E945443340296E7E64B" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\DocumentFormat.OpenXml.xml" />
            </Component>
            <Component Id="cmp89A7F8C1CD21A2C5925379EE6AD2AF2B" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil7D95FD4E6CC9D66458266F395B596C4F" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\heat.exe" />
            </Component>
            <Component Id="cmpE7FD1500D5762B4C9EB9D0383A9FF395" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil417ABCD3F73304E306234A7D90F439EC" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\out.dll" />
            </Component>
            <Component Id="cmpF235FC2925FD7EAEBBCA6A99AE3EA83F" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil6610386FC3D75D05AC3E1A15061F1150" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\USEPA Simulation PlugIns.dll" />
            </Component>
            <Component Id="cmpEE981CCA8BFFB95FF8F7BE4DF49BE9AE" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil286A88C2F7A0CFDE943938CB68F84806" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\USEPA Simulation PlugIns.pdb" />
            </Component>
            <Component Id="cmp981453389FEBF80A946BC3C52F99DA9D" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil9F3D91EB610859489954C4E16E348C04" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\USEPA Simulation PlugIns.tlb" />
            </Component>
            <Component Id="cmp221FADDA514F84689FD0D2F328CE6133" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil072C0AF251997ECF8E281F05A62598B1" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\wconsole.dll" />
            </Component>
            <Component Id="cmp866BD8BAF9E36E55D18C9127976FB51A" Directory="dir92B449F084B5D397E45DBD9B6F84D86C" Guid="*">
                <File Id="fil39F6A5276356EED1D37112A63FF516E2" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\bin\Debug\wix.dll" />
            </Component>
            <Component Id="cmp471A32A2BF395CC4B58BDB0DDB5A77F0" Directory="dir6D5EFFE51CD5B01FC475BBA3CDFE00B3" Guid="*">
                <File Id="fil52F5753E7FC7E03A17F0A51D047217BF" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\USEPA Simulation PlugIns.csproj.UnmanagedRegistration.cache" />
            </Component>
            <Component Id="cmpE7A4FB89775546911F62DB38045CFF2E" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil81BF78A43EBCEEA791ABD665D07546F9" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\DesignTimeResolveAssemblyReferences.cache" />
            </Component>
            <Component Id="cmpFEF842A19DA8BFC75C70B086777E5C67" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filB230683B15B2A465548EFEF9F924F186" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache" />
            </Component>
            <Component Id="cmp49290D045A348DECDB47CDB2EE72ACE0" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil27C64AE362856138C132ABDA831E5E4B" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\Interop.CAPEOPEN110.dll" />
            </Component>
            <Component Id="cmp916D21A646B44D63929EE96DB4CCBADC" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil2EC82A1ACCFB8D8CC1015AF3599EA9C9" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\Interop.COFE.dll" />
            </Component>
            <Component Id="cmpDF6F3A692CFFFA4BC71C3A438EE6B875" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil1D9C8182E8041FDF6FEA119FC4E46860" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs" />
            </Component>
            <Component Id="cmpF883A636DDBB831B1CFF74E268147600" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil620669330824374EA97D18E7C62D6839" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs" />
            </Component>
            <Component Id="cmp1A39ED260F6C6C4DACEB3CA71F79FE9B" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filD6AC6131E3594625BED4681046E9B80C" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs" />
            </Component>
            <Component Id="cmpE7B7C21389BE05A94123DECEEEE557BE" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil1E4E102F9F578EF14751E6E95F270A7D" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.csproj.CopyComplete" />
            </Component>
            <Component Id="cmp189477365F701A7FF8FD9C265D1F2A7D" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filD510B8FD68B9D914522223A71E1CC679" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.csproj.CoreCompileInputs.cache" />
            </Component>
            <Component Id="cmp343E2C83F774F7C796A06ED41ECBB92B" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filCF1865AB6BAFAE112D6BB077512C5992" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.csproj.FileListAbsolute.txt" />
            </Component>
            <Component Id="cmp15CCC9D019D664FCA1BCD0A0C93BD0ED" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filD8D7978F52526E582656E6309B92F6C4" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.csproj.GenerateResource.Cache" />
            </Component>
            <Component Id="cmp02958DAB05DFBBDBE1380EA962B16CBB" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil3474EC162D4811FD43F167AFCC27A241" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.csproj.ResolveComReference.cache" />
            </Component>
            <Component Id="cmp5849DC0137CD2504B4173EC9111A5A55" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filDD1D1203F38A62E6FA3AB3AFF8C3AA26" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.csprojResolveAssemblyReference.cache" />
            </Component>
            <Component Id="cmpE41373307A0627421B056307B604AFA3" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filEC6E879CB409CBD1735B2EDD1E7B1212" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.dll" />
            </Component>
            <Component Id="cmp872B352390D62D39706229617B21E369" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil363076E083BE4BB3B032D9EC1E7C94B9" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA Simulation PlugIns.pdb" />
            </Component>
            <Component Id="cmp8DC639ACB0493D0AF0B3FF295E594F9B" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil2124E2EEE482E16EACA48B91CF536CC0" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA_Simulation_PlugIns.GreenScopeForm.resources" />
            </Component>
            <Component Id="cmpF32F442E6801529A6CBCFFDC6D877C0E" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="fil0C079A4C94A2725926DA68C96B9DEEB3" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA_Simulation_PlugIns.Properties.Resources.resources" />
            </Component>
            <Component Id="cmpAFAD6414FFD928BD8D4F7EF50CD5932C" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filCE329454BB313E955E57F37A6EC2125E" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA_Simulation_PlugIns.Resource1.resources" />
            </Component>
            <Component Id="cmp3F1001211A7A304C63F9138ADE546791" Directory="dir4086C1A0B4E483EA6E14BF35B68F4413" Guid="*">
                <File Id="filA4D6C9EBEC98CE12D8645CCD7941729B" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\USEPA_Simulation_PlugIns.WARalgorithm.resources" />
            </Component>
            <Component Id="cmp1B0FA74110AC7D8E78CC649DE028C774" Directory="dir2AFABC3EEE8354D02BAC5AE41421793D" Guid="*">
                <File Id="fil1782876BF085F82321C0BD877ADADD8E" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\TempPE\Properties.Resources.Designer.cs.dll" />
            </Component>
            <Component Id="cmp9800D592741004A40FC89864B9BB45D9" Directory="dir2AFABC3EEE8354D02BAC5AE41421793D" Guid="*">
                <File Id="fil74CA1A4B58F747FD502FDE8E4527C3CD" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\obj\Debug\TempPE\Resource1.Designer.cs.dll" />
            </Component>
            <Component Id="cmp2EE911193F67185503A27C479858EBD2" Directory="dir23A3189054C3F25860189BFFABAD824E" Guid="*">
                <File Id="filE42FBD59661BC53C83152C5992B120E7" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Properties\AssemblyInfo.cs" />
            </Component>
            <Component Id="cmp4DB7D721C46327B66AE9AD062F9F1358" Directory="dir23A3189054C3F25860189BFFABAD824E" Guid="*">
                <File Id="fil7001DBE6CD10F260CD45092D6F3F17BE" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Properties\Resources.Designer.cs" />
            </Component>
            <Component Id="cmp8AD91B68D9163A5C50D2223F3F1DFF11" Directory="dir23A3189054C3F25860189BFFABAD824E" Guid="*">
                <File Id="fil0B8D1017C64D229A540B591FFD5F1428" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Properties\Resources.resx" />
            </Component>
            <Component Id="cmpBCE445B858B8990A3BA4C04EFDC976FC" Directory="dir4DC39E28E88A7F1F26918FEF6A2132A1" Guid="*">
                <File Id="fil5B189064576314FC95C02148B0477E19" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Resources\GRNS data Template 08-2016.xlsm" />
            </Component>
            <Component Id="cmp7746C9ACD563B12D09254B01C4508D9D" Directory="dir4DC39E28E88A7F1F26918FEF6A2132A1" Guid="*">
                <File Id="filD93724B519670273DF61376FCD85FB7B" KeyPath="yes" Source="$(var.USEPASimulationPlugIns.ProjectDir)\Resources\WARdata.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4086C1A0B4E483EA6E14BF35B68F4413">
            <Directory Id="dir2AFABC3EEE8354D02BAC5AE41421793D" Name="TempPE" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6D5EFFE51CD5B01FC475BBA3CDFE00B3">
            <Directory Id="dir4086C1A0B4E483EA6E14BF35B68F4413" Name="Debug" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBD8892FBCC64DA5924D7F747259B8B87">
            <Directory Id="dir92B449F084B5D397E45DBD9B6F84D86C" Name="Debug" />
        </DirectoryRef>
    </Fragment>
</Wix>